* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

/* Remove default button styling by resetting individual styles */
button {
  border: none;
  outline: none;
  background: none;
  /* Add any custom styling here */
}

main {
  background: #0B2434;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border-radius: 10px;
  background: #F5F5F5;
  color: #2B283A;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.08rem 2.16rem;
  margin: 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

p {
  text-align: center;
  width: 100%;
  color: #4A4E74;
}

.dice-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.3rem;
  /* background-color: blue; */
  width: 100%;
  max-width: 35rem;
  margin-bottom: 1.6rem;
  margin-top: 2rem;
}

.dice {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  border-radius: 0.23831rem;
  background: #FFF;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  color: #2B283A;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  transition: 0.3s ease-out
}

.dice:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background: #eefff6;
}

.dice-grid .frozen {
  background: #59E391;
}

.dice-grid .frozen:hover {
  background: #4bd281;
}

button {
  background-color: #5035FF;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 2rem;
  border-radius: 0.23831rem;
  transition: 0.3s ease-out;
  margin-bottom: 2rem;
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.game-stats {
  display: flex;
  /* background-color: blue; */
  width: 100%;
  justify-content: space-between;
}

.game-stats p {
  text-align: left;
  width: auto;
  font-size: 1.1rem;
}

.time-taken {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.record {
  font-weight: bold;
  color: #5035FF;
  margin-top: 0.3rem;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
  75% { transform: translateX(-2px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s;
}
